@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    background-color: #f5f3e7;
}

/* menu */
.menu {
    width: 100%;
}

.menu p {
    width: 15%;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-left: 42%;
    color: #6b2e2e;
    font-family: 'Great Vibes';
    font-size: 5vw;
}

.line-one {
    width: 80%;
    height: 0.2vw;
    /* background-color: #ecd19d; */
    margin-top: -8%;
    margin-left: 10%;
}

.line-one-one {
    width: 38%;
    height: 0.2vw;
    background-color: #c5a15c;
}

.line-one-two {
    width: 38%;
    height: 0.2vw;
    background-color: #c5a15c;
    margin-left: 62%;
    margin-top: -0.25%;
}

.pizzas {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 3.5vw;
    margin-top: 3%;
    margin-left: 15%;
    /* background-color: #c5a15c; */
}

.salt-pizza {
    display: flex;
    flex-direction: row;
    width: 25%;
    background-color: #e6d6b8;
    border: none;
    border-radius: 20px;
    margin: 0% 5%;
    align-items: center;
    color: #6b2e2e;
    justify-content: center; 
    align-items: center;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
}

.salt-pizza:hover {
    background-color: #6b2e2e;
    color:#e6d6b8;
    cursor: pointer;
}

.sweet-pizza {
    display: flex;
    flex-direction: row;
    width: 25%;
    background-color: #e6d6b8;
    border: none;
    border-radius: 20px;
    margin: 0% 5%;
    align-items: center;
    color: #6b2e2e;
    justify-content: center; 
    align-items: center;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
}

.sweet-pizza:hover {
    background-color: #6b2e2e;
    color:#e6d6b8;
    cursor: pointer;
}

.vegan-pizza {
    display: flex;
    flex-direction: row;
    width: 25%;
    background-color: #e6d6b8;
    border: none;
    border-radius: 20px;
    margin: 0% 5%;
    align-items: center;
    color: #6b2e2e;
    justify-content: center; 
    align-items: center;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
}

.vegan-pizza:hover {
    background-color: #6b2e2e;
    color:#e6d6b8;
    cursor: pointer;
}

.drinks {
    display: flex;
    flex-direction: row;
    width: 25%;
    background-color: #e6d6b8;
    border: none;
    border-radius: 20px;
    margin: 0% 5%;
    align-items: center;
    color: #6b2e2e;
    justify-content: center; 
    align-items: center;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
}

.drinks:hover {
    background-color: #6b2e2e;
    color:#e6d6b8;
    cursor: pointer;
}

.search {
    display: flex;
    width: 70%;
    height: 3.5vw;
    margin-top: 3%;
    margin-left: 15%;
    /* background-color: #6b2e2e; */
}
.search input {
    display: flex;
    width: 75%;
    margin-left: 8%;
    border-radius: 20px;
    background-color: #e6d6b8;
    border: solid 2.5px #c5a15c;
}

.search input::placeholder {
    color: #c5a15c;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
    text-indent: 15px; /* separa texto da leteral */
}

.search input:focus {
    border: solid 2.5px #6b2e2e;
    outline: none; /* impede o navegador de alterar visualmente o foco */
    color: #6b2e2e;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
    text-indent: 15px;/* separa texto da leteral */
}

.search input:focus::placeholder {
    color: #6b2e2e;
}

.search input:hover {
    border: solid 2.5px #6b2e2e;
    outline: none; /* impede o navegador de alterar visualmente o foco */
    color: #6b2e2e;
    font-family: 'Glacial Indifference';
    font-size: 1.3vw;
    text-indent: 15px;/* separa texto da leteral */
}

.search input:hover::placeholder {
    color: #6b2e2e;
}

.search button {
    display: flex;
    width: 5%;
    margin-left: 2%;
    border-radius: 50px;
    background-color: #e6d6b8;
    border: solid 2.5px #c5a15c;
    cursor:pointer;
    transition: transform 0.2s ease; /* suavidade no efeito */
}

.search button:focus {
    border: solid 2.5px #6b2e2e;
    transform: scale(0.97);
}

.search button:focus ion-icon {
    color: #6b2e2e;
}

.search button:hover {
    border: solid 2.5px #6b2e2e;
    transform: scale(1.05); /* aumenta 5% */
}

.search button:hover ion-icon {
    color: #6b2e2e;
}

.search ion-icon {
    background: none;
    height: 3vw;
    color: #c5a15c;
    font-size: 2.55vw;
}

.line-two {
    width: 80%;
    height: 4px;
    background-color: #c5a15c;
    margin-top: 2.6%;
    margin-left: 10%;
}

/* pizzas e bebidas */
.containerCentral {
    background-color: rgb(55, 91, 123);
    width: 80%;
    margin-top: 1vw;
    margin-left: 10%;
    overflow: hidden;
}

.product {
    background-color:aqua;
    width: 45%;
    height: 25vw;
    overflow: hidden;
}

.img {
    background-color: #6b2e2e;
    width: 40%;
    height: 17vw;
    margin-top: 2.5vw;
}

.img img {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.img p {
    margin-left: 1vw;
}

.renderStarStyles {
    /* background-color: #6b2e2e; */
    cursor: pointer;
    position: relative;
    width: 80%; /* Tamanho do contêiner*/
    height: 1vw; /* Tamanho das estrelas*/
    align-items: center;
    justify-self: center;
}

.description {
    /* background-color: #f1ddb6; */
    width: 54%;
    margin-top: -52.7%;
    margin-left: 42%;
    font-family: 'Cinzel';
    font-weight: 900;
    font-size: 1.42vw;
    color: #6b2e2e;
}

.descButton {
    display: flex;
    flex-direction: row;
}
.pDesc {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDesc {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapper {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.pBroto {
    font-size: 1.1vw;
    /* margin-top: 8.5vw; */
}

.pBrotoDivisao {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 4.5vw;
    font-size: 1.1vw;
}

.pBrotoPreco {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 5.5vw;
    font-size: 1.1vw;
}

.ajuste-margin {
    margin-top: 2.56vw;
}

.counter-wrapper2 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

.pPizza {
    font-size: 1.1vw;
    /* margin-top: 1vw; */
}

.pPizzaDivisao {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 4.5vw;
    font-size: 1.1vw;
}

.pPizzaPreco {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 5.5vw;
    font-size: 1.1vw;
}

.counter {
    display: inline-flex;
    height: auto;
    position: absolute;
    /* margin-top: -3.2vw; */
    margin-left: 13.6vw;
    background-color: #e6d6b8;
    border: 2px solid #c5a15c;
    border-radius: 1vh;
    overflow: hidden;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.counter button {
    flex: 0 0 auto;
    min-width: auto;
    background-color: transparent;
    border: none;
    color: #c5a15c;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 0vw 0.5vw;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.counter button:hover {
    background-color: #eddfc4;
}

.counter button:not(:last-child) {
    border-right: 2px solid #c5a15c;
}

.addCar {
    background-color: #e6d6b8;
    width: 65%;
    height: 2.3vw;
    font-size: 1.3vw;
    color:#6b2e2e;
    border: none;
    border-radius: 50px;
    margin-top: 1.5vw;
    margin-left: 15%;
    cursor: pointer;
}

.addCar:hover {
    background-color: #eddfc4;
    /* background-color: #6b2e2e; */
    /* color:#e6d6b8; */
}

/* parte dois do containerCentral */
.product2 {
    background-color:aqua;
    width: 45%;
    height: 25vw;
    overflow: hidden;
    margin-top: -25vw;
    margin-left: 55%;
}

.img2 {
    background-color: #6b2e2e;
    width: 40%;
    height: 17vw;
    margin-top: 2.5vw;
}

.img2 img {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.img2 p {
    margin-left: 1vw;
}

.renderStarStyles2 {
    /* background-color: #6b2e2e; */
    cursor: pointer;
    position: relative;
    width: 80%;
    height: 1vw;
    align-items: center;
    justify-self: center;
}

.description2 {
    /* background-color: #f1ddb6; */
    width: 54%;
    margin-top: -52.7%;
    margin-left: 42%;
    font-family: 'Cinzel';
    font-weight: 900;
    font-size: 1.42vw;
    color: #6b2e2e;
}

.descButtonSalg2 {
    display: flex;
    flex-direction: row;
}

.pDescSalg2 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg2 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg2 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg2 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg2 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg2 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg2 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.pBrotoSalg2 {
    font-size: 1.1vw;
    /* margin-top: 8.5vw; */
}

.pBrotoDivisaoSalg2 {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 4.5vw;
    font-size: 1.1vw;
}

.pBrotoPrecoSalg2 {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 5.5vw;
    font-size: 1.1vw;
}

.ajuste-marginSalg2 {
    margin-top: 3.56vw;
}

.counter-wrapper2Salg2 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

.pPizzaSalg2 {
    font-size: 1.1vw;
    /* margin-top: 1vw; */
}

.pPizzaDivisaoSalg2 {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 4.5vw;
    font-size: 1.1vw;
}

.pPizzaPrecoSalg2 {
    position: absolute;
    /* margin-top: -3vw; */
    margin-left: 5.5vw;
    font-size: 1.1vw;
}

.counterSalg2 {
    display: inline-flex;
    height: auto;
    position: absolute;
    /* margin-top: -3.2vw; */
    margin-left: 13.6vw;
    background-color: #e6d6b8;
    border: 2px solid #c5a15c;
    border-radius: 1vh;
    overflow: hidden;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.counterSalg2 button {
    flex: 0 0 auto;
    min-width: auto;
    background-color: transparent;
    border: none;
    color: #c5a15c;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 0vw 0.5vw;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
}

.counterSalg2 button:hover {
    background-color: #eddfc4;
}

.counterSalg2 button:not(:last-child) {
    border-right: 2px solid #c5a15c;
}

.addCarSalg2 {
    background-color: #e6d6b8;
    width: 65%;
    height: 2.3vw;
    font-size: 1.3vw;
    color: #6b2e2e;
    border: none;
    border-radius: 50px;
    margin-top: 1.5vw;
    margin-left: 15%;
    cursor: pointer;
}

.addCarSalg2:hover {
    background-color: #eddfc4;
    /* background-color: #6b2e2e; */
    /* color:#e6d6b8; */
}

/* container3 */
.descButtonSalg5 {
    display: flex;
    flex-direction: row;
}

.pDescSalg5 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg5 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg5 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg5 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg5 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg5 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg5 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

.descButtonSalg6 {
    display: flex;
    flex-direction: row;
}

.pDescSalg6 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg6 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg6 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg6 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg6 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg6 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg6 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

/* container4 */
.descButtonSalg5 {
    display: flex;
    flex-direction: row;
}

.pDescSalg5 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg5 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg5 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg5 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg5 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg5 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg5 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

.descButtonSalg6 {
    display: flex;
    flex-direction: row;
}

.pDescSalg6 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg6 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg6 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg6 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg6 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg6 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg6 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

/* container5 */
.descButtonSalg5 {
    display: flex;
    flex-direction: row;
}

.pDescSalg5 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg5 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg5 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg5 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg5 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg5 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg5 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg5 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}

.descButtonSalg6 {
    display: flex;
    flex-direction: row;
}

.pDescSalg6 {
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.pDesc2Salg6 {
    width: 80%;
    align-items: justify;
    margin-top: -1.1vw;
    font-weight: bold;
    font-size: 0.75vw;
}

.buttonDescSalg6 {
    position: absolute;
    margin-top: -1.35%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDescSalg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.buttonDesc2Salg6 {
    position: absolute;
    margin-top: -1.23%;
    margin-left: 15.5vw;
    border: none;
    background-color: transparent;
}

.buttonDesc2Salg6 ion-icon {
    font-size: 1.4vw;
    color: black;
    cursor: pointer;
}

.counter-wrapperSalg6 {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-top: 6.5vw;
    margin-left: 1.5%;
}

.ajuste-marginSalg6 {
    margin-top: 3.55vw;
}

.counter-wrapper2Salg6 {
    display: flex;
    align-items: center;
    /* gap: 4vw; */
    margin-top: -1.7vw;
    margin-left: 1.5%;
}