@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CrudSection {
    width: 100vw;
    height: 100vh;
    background-color: #f5f3e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

.CrudSection-block {
    background-color: #e6dbc7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 30px;
    padding: 5vw;
    color: #6b2e2e;
}

.title-crud {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Great Vibes';
    color: #6b2e2e;
    font-size: 4.5rem;
    margin-bottom: 1vw;
}

.title-crud p {
    white-space: nowrap;
    margin: 0vw 0.8vw;
}

.line-crud {
    width: 100%;
    height: 3px;
    background-color: #c5a15c;
}

.messageCrud {
    font-family: 'Glacial Indifference';
    font-size: 1.5rem;
    font-weight: bold;
}

.crudDate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Glacial Indifference';
    width: 100%;
    margin-top: 1vw;
}

.inputCrud {
    background-color: #f5f3e7;
    border: 1px solid #4a4a4b;
    border-radius: 20px;
    padding: 0.5vw;
    padding-left: 1.1vw;
    margin: 0.44vw;
    font-size: 1rem;
    width: 70%;
}

.crudDate input::placeholder {
    color: #6b2e2e;
    font-family: 'Glacial indifference';
    font-size: 1rem;
}

.inputCrud:focus {
    outline: none;
    border: 1px solid #c5a15c;
    color: #6b2e2e;
    font-size: 1rem;
}

.btn-crud {
    border: 2px solid #f5f3e7;
    background-color: #f5f3e7;
    color: #6b2e2e;
    border-radius: 25px;
    padding: 0.8vw 2vw;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Glacial Indifference';
}

.btn-crud:hover {
    border: 2px solid #c5a15c;
}

.messageToRegister {
    font-family: 'Glacial Indifference';
    font-size: 1.3rem;
}